[submodule "app/src/main/jni/moonlight-core/moonlight-common-c"]
	path = app/src/main/jni/moonlight-core/moonlight-common-c
	url = https://github.com/Lavagnou/moonlight-common-c.git
	branch = lavartemis
[submodule "desktop"]
	path = desktop
	url = https://github.com/Lavagnou/LavArtemis-Qt.git
	branch = main
